<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<h1>簡単なwebページ</h1>
	<p>これは簡単なwebページです！</p>
</body>
</html>
